* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shared style start */
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* shared style end */

/* nav bar start */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}
.nav-bar > h2 {
  color: #131313;
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
}
.nav-bar .nav-link {
  display: flex;
}
.nav-link li {
  list-style: none;
}
.nav-link a {
  text-decoration: none;
  padding: 0 20px;
  color: #424242;
  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  cursor: pointer;
}
/* nav bar end */

/* banner section start */
.banner-content {
  text-align: center;
}
.banner-content .banner-title {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: "Work Sans";
  font-size: 64px;
  font-weight: 700;
  width: 862px;
  margin: 0 auto;
}
.banner-content .banner-description {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 50%;
  margin: 0 auto;
  padding: 30px 0;
}
.btn {
  width: 180px;
  height: 64px;
  border-radius: 8px;
  background: #ff900e;
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
  border: none;
}
.banner-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  padding-top: 30px;
}
/* banner section end */

/* our features section start */
.content {
  margin: 50px 0;
}
.features {
  max-width: 1320px;
  margin: 0 auto;
}
.features-content {
  display: flex;
  gap: 20px;
  align-items: center;
}
.features-text .features-title {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 500;
  width: 468px;
}
.features-text .features-description {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 24px 0;
}
.features-images {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
}
/* our features sectin end */

/* love and enjoy section start */
.love-enjoy-content {
  display: flex;
  justify-content: space-between;
}
.love-enjoy-text .love-enjoy-title {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
  width: 468px;
}
.love-enjoy-text .love-enjoy-description {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 586px;
  padding: 24px 0;
}
.love-enjoy-box {
}
.love-enjoy-box .love-enjoy-box-text {
  width: 586px;
  height: 171px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  margin: 30px 0;
  padding: 30px;
}
.love-enjoy-box .love-enjoy-box-title {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 600;
}
.love-enjoy-box-decription {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 514px;
  padding-top: 10px;
}
.love-enjoy-img {
  width: 708px;
  height: 982px;
  position: relative;
}
.love-enjoy-img img {
  width: 100%;
  height: 100%;
}
.love-enjoy-img-experience {
  width: 342px;
  height: 200px;
  border-radius: 8px;
  background: #ff900e;
  position: absolute;
  bottom: 15px;
  left: -30px;
}
.love-enjoy-img-experience > h2 {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 60px;
  font-weight: 700;
  line-height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 258px;
  height: 200px;
}
/* love and enjoy section end */

/* fact section start */
#fact {
  margin: 50px 0;
}
.fact-content .fact-content-title {
  color: var(--Dark-01, #131313);
  font-family: "Work Sans";
  font-size: 45px;
  font-weight: 700;
}
.fact-content .fact-content-description {
  color: var(--Dark-03, #727272);
  font-family: "Work Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  width: 542px;
  padding-bottom: 50px;
}
.fact-item {
  display: flex;
  justify-content: space-around;
  width: 90%;
  margin: 0 auto;
}
.fact-product {
  border-radius: 8px;
}
.fact-single-product {
  text-align: center;
}
/* fact section end */

/* footer section start */
.footer-contetn {
  border-radius: 8px;
  background: #fff4e7;
  padding: 40px 0;
  margin: 50px 0;
}
.footer-contetn .footer-text {
  color: var(--Dark-02, #424242);
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-weight: 400;
}
/* footer section end */

/* media query start for mobile */
@media screen and (max-width: 576px) {
  .nav-bar {
    flex-direction: column;
  }
  .nav-bar .nav-link {
    flex-direction: column;
    margin: 10px 0;
  }
  .nav-link li {
    padding: 10px 0;
    text-align: center;
  }
  /* banner start */
  .banner-content .banner-title {
    font-size: 30px;
    width: 70%;
  }
  .banner-content .banner-description {
    color: var(--Dark-03, #727272);
    text-align: center;
    font-family: "Work Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 80%;
    margin: 0 auto;
    padding: 30px 0;
  }
  /* banner end */

  /* our features section start */
  .features-content {
    flex-direction: column;
  }
  .features-text .features-title {
    width: 90%;
  }
  .features-text .features-description {
    width: 80%;
  }
  .features-images {
    grid-template-columns: repeat(1, 1fr);
  }
  .features-images img {
    width: 100%;
    height: 100%;
  }
  /* our features section end */

  /* love and enjoy section start */
  .love-enjoy-content {
    flex-direction: column;
  }
  .love-enjoy-text .love-enjoy-description {
    width: 100%;
  }
  .love-enjoy-box {
  }
  .love-enjoy-box .love-enjoy-box-text {
    width: 100%;
  }
  .love-enjoy-box-decription {
    width: 100%;
  }

  .love-enjoy-img {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .love-enjoy-img img {
    width: 100%;
    height: 100%;
  }
  .love-enjoy-img-experience {
    position: static;
    bottom: 0;
    left: 0;
    margin-bottom: 50px;
  }
  /* love and enjoy section end */

  /* fact section start */
  #fact {
    margin: 0;
  }
  .fact-content .fact-content-description {
    width: 100%;
  }
  .fact-item {
    flex-direction: column;
    width: 90%;
  }
  .fact-product {
    margin: 20px 0;
  }

  /* fact section end */
}
/* media qurey end for mobile */

/* media query start for tablet */
@media screen and (min-width: 577px) and (max-width: 768px) {
  .banner-content {
    text-align: center;
  }
  .banner-content .banner-title {
    width: 80%;
  }
  .banner-content .banner-description {
    width: 50%;
  }
  /* our features section start */
  .features-content {
    flex-direction: column;
  }
  /* our features section end */

  /* love and enjoy section start */
  .love-enjoy-content {
    flex-direction: column;
  }
  .love-enjoy-img img {
    width: 100%;
    height: 100%;
  }
  /* love and enjoy section end */
}
/* media query end for tablet */
